* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body, p {
  margin: 0;
  padding: 0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

ul, ol {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}
